.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: grey;
  opacity: 0.5;
  z-index: 99;
}
.roller {
  position: absolute;
  height: 200px;
  display: flex;
  width: 800px;
  top: 40%;
  z-index: 100;
  background: lightgray;
}

.showCard {
  height: 300px;
  width: 200px;
  position: absolute;
  border-radius: 10px;
  left: calc(50% - 100px);
  top: -25%;
  z-index: 20;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.rollerCard {
  background: white;
  border-radius: 10px;
  height: 80%;
  width: 120px;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.rollerContainer {
  position: relative;
  height: 200px;
  width: 800px;
  overflow: hidden;
}

.cardContainer {
  position: absolute;
  left: 800px;
  top: 0;
  height: 100%;
  animation-fill-mode: forwards;
  display: flex;
  justify-content: center;
  align-items: center;
}

.roller::after {
  position: absolute;
  content: "";
  left: calc(50% - 10px);
  height: 100%;
  width: 20px;
  background-color: black;
  opacity: 0.5;
}

.red {
  background: red;
}

.grey {
  background: grey;
}

.blue {
  background: blue;
}
